@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes linkHover {
    0%{
        left: 50%;
        width: 0;
        height: 0;
    }
    100%{
        right: 0;
        width: 100%;
        height: 2px;
    }
}

@keyframes showSearch {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes hideSearch {
    0%{
        width: 50%;
    }
    100%{
        width: 0;
    }
}

.navbar-link:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    animation: linkHover .3s;
}

.navbar-link.red-link:hover::after{
    background-color: #ef4444;
}

.search{
    animation: showSearch .3s;
}
.search-hidden{
    animation: hideSearch .3s ;

}
.MuiSlider-root  {
    height: 5px !important;
    
}

.MuiSlider-track, .MuiSlider-rail {
    height: 5px !important;
    border-radius: 20px !important;
}

.MuiSlider-thumb {
    top: 14px !important;
}

@layer utilities {
    .scrollbar {
      scrollbar-color: red white;
      scrollbar-width: thin;
    }
    .scrollbar::-webkit-scrollbar {
        width: 8px;
      }
  
      .scrollbar::-webkit-scrollbar-track {
        background:  #d6d3d1;
        border-radius: 20px;
      }
  
      .scrollbar::-webkit-scrollbar-thumb {
        background:#a8a29e;
        border-radius: 20px;
      }
    
  }